 body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  #logo{
    height: 150px;
  }
  .container {
    padding: 80px 120px;
  }
  
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(10%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  
  
  
  .nav-tabs li a {
    color: #777;
  }
  #googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }  
  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: rgb(11,132,69);
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    height: 140px;
    opacity: 0.8;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d4 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  
  textarea {
    resize: none;
  }
.dropdown-menu a:hover{
    
background-color: black;
}
.collapse{
  margin: 40px;
  font-weight: bold;
}
/* .footer{
  background-color:  rgb(11,132,69);
  color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
  float: inline-end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  top: 500px;
  height: 70px;
}
.social{
  height: 35px
} */
body{
  height: 100%;
}